# IP ou hostname público do site
DOMAIN=191.252.205.7
POSTGRES_PASSWORD=SENHA_FORTE
APP_DIR=/www/server/sorelle-presentes
SITE_ROOT=/www/wwwroot/sorelle-presentes

REPO_URL=https://github.com/CesarBorgesDev/sorelle-presentes.git

# http para IP | https para domínio (auto se omitido)
# SITE_SCHEME=http
