server {
    listen 80 {{NGINX_DEFAULT_SERVER}};
    listen [::]:80 {{NGINX_DEFAULT_SERVER}};
    server_name {{DOMAIN}} www.{{DOMAIN}} {{SITE_NAME}} _;
    index index.html index.htm;
    root {{SITE_ROOT}};

    client_max_body_size 15m;

{{API_LOCATION_BLOCK}}

    location / {
        try_files $uri $uri/ /index.html;
    }

    access_log /www/wwwlogs/{{SITE_NAME}}.log;
    error_log /www/wwwlogs/{{SITE_NAME}}.error.log;
}
